@font-face {
    font-family: 'Jalnan2';
    src: url('/static/font/yugi/Jalnan2.woff2') format('woff2'),
         url('/static/font/yugi/Jalnan2.woff') format('woff'),
         url('/static/font/yugi/Jalnan2TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Jalnan2', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
    padding-top: 80px; /* header 높이에 맞게 조정 */
}

header {
    width: 100%; /* ensure header spans the full width */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box; /* include padding and border in the element's total width and height */
}

.header a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    background-color: #ffffff;
}

.logo img {
    height: 60px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.stats-main {
    display: flex;
    gap: 20px;
}

.map-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    background-color: #f5f5f5  ;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    color: black;
}

.map-info {
    text-align: center;
    
}

.map-container {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.map-container img {
    max-width: 100%;
    border-radius: 10px;
}

.chart-section {
    flex: 1;
    background-color: #f5f5f5 ;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border: 2px solid;

}

.chart-section p {
    color: black;
}

.chart-container img {
    max-width: 100%;
    border-radius: 10px;
}

.stats-timeline {
    background-color: #f5f5f5 ;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.stats-timeline p {
    color: black;
    
}

.timeline-container img {
    max-width: 100%;
    border-radius: 10px;
}


.hovered {
    fill: #808080  !important; /* Hover 시 색상 변경 */
}

text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    fill: black;
    pointer-events: none;
    
}


.map-container svg {
    background-color: #f5f5f5 ; /* SVG의 배경색도 동일하게 설정 */
}

.map-info-container {
    display: flex;
    justify-content: space-around;
}
.map-info-container div {
    margin: 0 10px;
}

.hovered {
    fill-opacity: 0.6;
}
#신사동, #논현1동, #논현2동, #삼성1동, #삼성2동, #대치1동, #대치4동, 
#역삼1동, #역삼2동, #도곡1동, #도곡2동, #개포1동, #개포2동, #일원본동, 
#일원1동, #개포3동, #수서동, #세곡동, #압구정동, #청담동, #대치2동, #개포4동 {
    stroke-width: 2.2px;  /* 경계선 두께를 2px로 설정 */
    stroke: #ffffff;    /* 경계선 색상 */
}