<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/calculator.css" />
    <title>탄소배출량 계산기</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><img src="/static/image/leftlogo.png" alt="로고"></a>
            </div>
            <nav class="navbar">
                <a href="/">홈</a>
                <a href="/projectIntroduce">소개</a>
                <a href="/map">지도</a>
                <a href="/statistics">통계</a>
                <a href="/calculator">탄소배출량 계산기</a>
                <a href="/data">데이터</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="section">
            <h2>탄소배출량 계산기</h2>
            <form id="calculator-form">
                <label for="electricity">전기 사용량 (kWh):</label>
                <input type="number" id="electricity" name="electricity" required oninput="calculateAndShowResults()"><br><br>
                
                <label for="gas">가스 사용량 (m³):</label>
                <input type="number" id="gas" name="gas" required oninput="calculateAndShowResults()"><br><br>
            </form>
        </div>

        <div class="result-section">
            <div class="result-box">
                <h3>배출량 결과</h3>
                <p id="emission-output">0 kg CO2</p>
            </div>
            <div class="result-box">
                <h3>아메리카노</h3>
                <p id="coffee-output">0 잔</p>
            </div>
        </div>
    </div>


    <script>
        let totalEmissions = 0;

        function calculateAndShowResults() {
            var electricity = document.getElementById('electricity').value;
            var gas = document.getElementById('gas').value;
            totalEmissions = (electricity * 0.4777) + (gas * 2.6928);

            // 배출량 결과 표시
            document.getElementById('emission-output').innerText = totalEmissions.toFixed(2).toLocaleString() + ' kg CO2';

            // 커피 한 잔과 비교
            var coffeeEquivalent = Math.round(totalEmissions / 0.021); // 배출량을 kg 단위로 나누어 21g으로 나눔 (0.021kg)
            document.getElementById('coffee-output').innerText = coffeeEquivalent.toLocaleString() + ' 잔의 커피';
        }
    </script>
</body>
</html>
