<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <title>Data Introduction</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><img src="static/image/logo.png" alt="로고"></a>
            </div>
            <nav class="navbar">
                <a href="/">홈</a>
                <a href="introduce">소개</a>
                <a href="map">지도</a>
                <a href="statistics">통계</a>
                <a href="calculater">탄소배출량 계산기</a>
                <a href="data">자료실</a>
            </nav>
        </div>
    </header>

   
    <footer class="footer">
        <p>© 나랑 데이터 할래?<br>군산대학교 소프트웨어학전공 캡스톤디자인 프로젝트 <br>All rights reserved.</p>
    </footer>
</body>
</html>
