<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>탄소 배출 관련 사진</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div class="header-container">
        <div class="header">
            <a href="/">나랑 데이터 할래</a>
        </div>
        <div class="navbar">
            <a href="/">홈</a>
            <a href="/introduce">소개</a>
            <a href="/map">지도</a>
            <a href="/data">자료실</a>
        </div>
    </div>
    <div class="main">
        
    </div>
    <div class="statistics">
      
    </div>
    <div class="footer">
        군산대학교 소프트웨어학전공 캡스톤디자인 프로젝트<br>나랑 데이터 할래?
    </div>
</body>
</html>
