<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
<head>
    <meta charset="UTF-8">
    <title>Data Introduction</title>        
</head>
<body>
    <div class="header-container">
        <div class="header">
            <a href="/">나랑 데이터 할래</a>
        </div>
        <div class="navbar">
            <a href="/">홈</a>
            <a href="/introduce">소개</a>
            <a href="/map">지도</a>
            <a href="/data">자료실</a>
        </div>
    </div>
    <div class="introduce">
        <h2>사용한 데이터 소개</h2>
        <div class="data-section">
            <div>
                <img src="placeholder.png" alt="Electricity Data">
                <h3>전기 데이터</h3>
                <p>전기 데이터 소개글</p>
            </div>
            <div>
                <img src="placeholder.png" alt="Gas Data">
                <h3>가스 데이터</h3>
                <p>가스 데이터 소개글</p>
            </div>
        </div>
    </div>
    <div class="footer">
        군산대학교 소프트웨어학전공 캡스톤디자인 프로젝트<br>나랑 데이터 할래?
    </div>
</body>
</html>
