<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>나랑데이터할래 건물별 온실가스 배출 지도</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/stylesmap.css') }}"
        />
        <script src="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.js"></script>
        <script src="https://unpkg.com/ol-geocoder"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.css"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/ol-geocoder/dist/ol-geocoder.min.css"
        />
    </head>
    <body>
        <h2>나랑데이터할래 건물별 온실가스 배출 지도</h2>
        <div id="controls">
            <label
                ><input type="radio" name="filter" value="building" checked />
                건물 정보</label
            >
            <label
                ><input type="radio" name="filter" value="electric" />
                전기에너지 배출량</label
            >
            <label
                ><input type="radio" name="filter" value="gas" /> 가스에너지
                배출량</label
            >
            <input type="text" id="search" placeholder="대지 위치 검색" />
        </div>
        <div id="map" class="map"></div>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </body>
</html>

