<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/introduce.css" />
    <title>프로젝트 소개</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><img src="static/image/leftlogo.png" alt="로고"></a>
            </div>
            <nav class="navbar">
                <a href="/">홈</a>
                <a href="projectIntroduce">소개</a>
                <a href="map">지도</a>
                <a href="statistics">통계</a>
                <a href="calculater">탄소배출량 계산기</a>
                <a href="data">자료실</a>
            </nav>
        </div>
    </header>
    <main class="main-content-wrapper">
        <div class="main-content">
            <section class="introduction">
                <h1>프로젝트 소개</h1>
                <p><strong>강남구 건물별 탄소배출량 시각화 시스템</strong>은 강남구의 탄소 배출량을 모니터링하고, 이를 시각적으로 제공하여 시민들과 정책 결정자들이 효과적으로 이해할 수 있도록 돕기 위한 프로젝트입니다.</p>
                <p>이 웹사이트는 강남구의 다양한 동네별 탄소 배출 데이터를 제공하며, 이를 통해 보다 나은 환경 정책을 수립하고 실행할 수 있도록 지원합니다.</p>
            </section>

            <section class="reason">
                <h2>강남구인 이유</h2>
                <ul>
                    <li>현재 서울시에서 탄소배출량이 가장 많은 구는 강남구로 선정</li>
                    <li>2023년 4월에 선정되었지만 아직까지도 강남구의 탄소배출량은 다른 구에 비해 월등히 높음</li>
                    <li>강남구의 탄소배출량 감축을 위해 2023년 건물별 탄소배출량을 확인하고 어떤 건물용도가 탄소배출량이 높은지 시각화</li>
                </ul>
            </section>

            <section class="goal">
                <h2>프로젝트 목표</h2>
                <ul>
                    <li>강남구의 동네별 탄소 배출량 데이터를 수집 및 분석</li>
                    <li>시민들에게 탄소 배출량 정보를 시각적으로 제공</li>
                    <li>환경 친화적인 정책 수립을 지원</li>
                    <li>탄소 배출량 감축을 위한 제언 제공</li>
                </ul>
            </section>

            <section class="features">
                <h2>기능 소개</h2>
                <p>우리의 웹사이트는 다음과 같은 기능을 제공합니다:</p>
                <ul>
                    <li>동네별 탄소 배출량 지도</li>
                    <li>탄소 배출량 통계 및 그래프</li>
                    <li>탄소 배출량 계산기</li>
                    <li>자료실을 통한 관련 데이터 및 보고서 제공</li>
                </ul>
            </section>
        </div>
    </main>

</body>
</html>
