<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>탄소배출량 대시보드</title>
    <link rel="stylesheet" type="text/css" href="/2024_Capstone_Design/test_server/static/test.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="#"><img src="static/logo.png" alt="로고"></a>
            </div>
            <nav class="navbar">
                <a href="#">홈</a>
                <a href="#">소개</a>
                <a href="#">지도</a>
                <a href="#">자료실</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="dashboard">
            <div class="left-panel">
                <div class="map-info">
                    <h2>강남구 동별지도</h2>
                    <img src="static/image.png" alt="동별지도">
                </div>
                <div class="stats-info">
                    <h2>통계 정보</h2>
                    <table>
                        <tr>
                            <th>동명</th>
                            <th>배출량</th>
                        </tr>
                        <tr>
                            <td>동명 1</td>
                            <td>12345</td>
                        </tr>
                        <tr>
                            <td>동명 2</td>
                            <td>67890</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="center-panel">
                <div class="map-visual">
                    <img src="static/image.png" alt="3D 지도">
                </div>
            </div>
            <div class="right-panel">
                <div class="graph-info">
                    <h2>공공건물 탄소배출량</h2>
                    <img src="static/image.png" alt="그래프">
                </div>
                <div class="graph-info">
                    <h2>날씨와 탄소배출량</h2>
                    <img src="static/image.png" alt="그래프">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
